
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    text-transform: capitalize;

}
.main-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-content button{
    background-color: #0D82CA;;
}
.features-section{
    display: flex;
    justify-content: space-evenly;
}
.features-section .card{
    max-width: 300px;
    height: 300px;
    padding: 20px;
    background: #0D82CA;
border-radius: 22px;
}
.features-section .card2{
    max-width: 300px;
    height: 300px;
    padding: 20px;
    color: #0D82CA;
border-radius: 22px;
}
.courses .cards .card{
    width: 300px;
    padding: 20px;
    border: 1px solid #000000;
border-radius: 26px;
}
.courses .cards{
    display: flex;
    justify-content: space-evenly;
}
